.saleRandom{
    width: 1440px;
    height: 540px;
    background-size: cover;
    position: relative;
}
.saleRandom h2{
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 45px;
}
.randomContainer{
    width: 1030px;
    height: 370px;
    position: absolute;
    top: 121px;
    left: 30px ;
    display: flex;
    justify-content: space-between;
}
.randomePicture{
    width: 320px;
    height: 100%;
    border: 2px solid rgb(255, 47, 89);
}
.randomePicture div{
    width: 100%;
    height: 275px;
    border: 1px solid black;
}