.randomeContainer2{
    width: 320px;
    position: relative;
}
.randomeImage34{
    width: 100%;
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}
.PriceRan{
    position: absolute;
    top: 295px;
    left: 25px;
    font-size: 30px;
    font-weight: 900;
    color: black;
}
.oldPri11{
    position: absolute;
    left: 135px;
    top: 304px;
    font-size: 21px;
    color: grey;
    font-weight: 900;
    text-decoration: line-through;
}
.percentRand{
    position: absolute;
    top: 305px;
    left: 233px;
    color: #FF32A1;
    font-weight: 900;
    font-size: 22px;
}
.descriptionRandome{
    position: absolute;
    top: 343px;
    left: 23px;
    font-size: 17px;
    font-weight: 900;
    color: black;
}