.HeaderContainer{
    height: 10.6vw;
    padding: 1.2vw  1.6vw ;
    display: flex;
    border: 1px solid black;
    background: linear-gradient(  white 85% , transparent);
    position: fixed;
    top: 0;
    z-index: 5;

}
.mobHeaderContainer{
    height: 14.4vw;
    display: flex;
    align-items: center;
    padding: 0 2vw 0 2vw;
    background: linear-gradient(  white 85% , transparent);
    position: fixed;
    top: 0;
    border: 1px solid black;
    z-index: 5;
}
.Bar{
    position: absolute;
    left: -100%;
}
.mobBar{
    height: 7vw;
}
.HeaderLogo{
    height: 4.5vw;
    padding-left: 4.5vw;
    background-image: url(../../../public/images/logo1.png);
    background-size: contain;
    cursor: pointer;
}
.mobHeaderLogo{
    height: 13vw;
    padding: 6.5vw;
    margin-left: 7vw;
    background-image: url(../../../public/images/logo1.png);
    background-size: contain;
}
.HeaderCatalog{
    height: 3.3vw;
    margin: 0.55vw 33.5vw 0 3.6vw;
    padding: 1.6vw 1.9vw;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1vw;
    font-weight: 900;
    border-radius: 7px;
    background-color: #393;
    cursor: pointer;

}
.mobHeaderCatalog{
    height: 4vw;
    border-radius: 7px;
    margin-left: 10vw;
    padding: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2vw;
    background-color: #393;
}
.Ankers{
    margin-top: 1.5vw;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    color: black;
}
.Ankers a{
    font-size: 1vw;
    font-weight: 900;
    margin-left: 3vw;
    cursor: pointer;
}
.mobAnkers{
    position: absolute;
    top: -100%;
    margin-top: 1.5vw;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    color: black;
    border: 1px solid ;
}
.Bag{
    height: 2vw;
    margin-top: 1vw;
    margin-left: 10vw;
    cursor: pointer;
    
}
.mobBag{
    height: 10vw;
    margin-left: 27vw;
}