.EachProductCart{
    height: 15.7vw;
    border-top: 2px solid rgb(181, 178, 178);
    display: flex;
    align-items: center;
}
.mobEachProductCart{
    height: 55.7vw;
    border-top: 2px solid rgb(181, 178, 178);
    display: flex;
    align-items: center;
    margin: 0 3vw;
}
.cartProdImagh{
    padding: 5vw 6vw;
    border: 1px solid red;
}
.mobcartProdImagh{
    padding: 24vw 24vw;
    background-color: aqua;
}
.cartProdImfog{
    padding: 2.8vw 0;
    margin-left: 1.5vw;

}
.mobcartProdImfog{
    padding: 2.8vw 0;
    margin-left: 1.5vw;

}
.cartProdTitler{
    font-size: 1.2vw;
    font-weight: 900;
    max-width: 19vw;
}
.mobcartProdTitler{
    font-size: 2.5vw;
    font-weight: 900;
    padding-top: 10vw;
}
.DeleteProduct{
    padding: 0.7vw;
    margin-left: 17.5vw;
    background-image: url(../../../../public/images/kross.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.mobDeleteProduct{
    padding: 2.7vw;
    margin-left: 1vw;
    background-image: url(../../../../public/images/kross.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.DeleteWrapper{
    display: flex;
}
.mobDeleteWrapper{
    display: flex;
    margin-bottom: 5vw;
}
.PriceProductCart{
    font-size: 2.7vw;
    font-weight: 900;
    padding-left: 21.6vw;
}
.mobPriceProductCart{
    font-size: 7.7vw;
    font-weight: 900;
    padding-left: 11.6vw;
}
.PriceProductCart span{
    font-size: 1.5vw;
}
.mobPriceProductCart span{
    font-size: 4.5vw;
}
.PriceWrapper{
    display: flex;
    align-items: center;
}
.mobPriceWrapper{
    display: flex;
    align-items: center;
}
.priceDiscont{
    margin-left: 4vw;
    font-size: 1.4vw;
    text-decoration: line-through;
    color: grey;
    font-weight: 900;
}
.mobpriceDiscont{
    margin-left: 4vw;
    font-size: 4.4vw;
    text-decoration: line-through;
    color: grey;
    font-weight: 900;
}
.IncreaseAmount{
  margin-top: 1vw;
  max-width: 9vw;
  height: 2.5vw;
  border-radius: 10px;
  border: 2px solid rgb(154, 148, 148);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  cursor: pointer;
}
.mobIncreaseAmount{
    margin-top: 10vw;
    max-width: 34vw;
    height: 8.5vw;
    border-radius: 10px;
    border: 2px solid rgb(154, 148, 148);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8.5vw;
    cursor: pointer;
  }
.minus{
    padding-bottom: 0.4vw;
    font-size: 3vw;
}
.mobminus{
    padding-bottom: 2vw;
    font-size: 13vw;
}
.priceState{
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    font-weight: 900;
}
.mobpriceState{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.3vw;
    font-weight: 900;
}