@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&family=Nunito:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    padding-top: 10.4vw;
}
