.catElement{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.mobcatElement{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.catElement div {
    padding: 10.7vw 9.8vw;
    margin-bottom: 1.2vw;
    background-color: aqua;
}
.mobcatElement div {
    padding: 20.7vw 20.8vw;
    margin-bottom: 1.2vw;
    background-color: aqua;
    cursor: pointer;
    
}
.catElement p{
    max-width: 15vw;
    font-size: 1.2vw;
    font-weight: 900;
    text-align: center;
} 
.mobcatElement p{
    max-width: 30vw;
    font-size: 2.2vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3vw;
} 