.footerContainer{
    padding: 3vw;
}
.mobfooterContainer{
    padding: 6vw;
}
.footerContainer h2{
    font-size: 2.5vw;
}
.mobfooterContainer h2{
    font-size: 7.5vw;
}
.footerContainer h2 span{
    margin-left: 39vw;
}
.mobfooterContainer h2 span{
    margin-left: 19vw;
}
.footerPhone{
    margin-top: 1.4vw;
    font-size: 4.4vw;
    display: flex;
}
.mobfooterPhone{
    margin-top: 1.4vw;
    font-size: 7.4vw;
    display: flex;
}
.footerPhone a{
    margin-left: 9.6vw;
    font-size: 2.56vw;
    font-weight: 900;
    display: inline-block;
    color: black;
}
.mobfooterPhone a{
    margin-left: 9.6vw;
    font-size: 6.56vw;
    font-weight: 900;
    display: inline-block;
    color: black;
}
.footerWhatsUp{
    display: flex;
    margin-top: 1vw;
}
.mobfooterWhatsUp{
    display: flex;
    margin-top: 1vw;
}
.social{
    display: flex;
    gap: 0.3vw;
    flex-direction: column;
    align-items: center;
    font-size: 0.95vw;
    margin-right: 2vw;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.mobsocial{
    display: flex;
    gap: 0.3vw;
    flex-direction: column;
    align-items: center;
    font-size: 2.95vw;
    margin-right: 5vw;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.social img{
    height: 3vw;
}
.mobsocial img{
    height: 15vw;
}
.footerHours{
    margin:0.2vw 0 0 36vw;
}
.mobfooterHours{
    margin:3.2vw 0 0 7vw;
}
.footerHours p{
    font-weight: 900;
    font-size: 1.14vw;
}
.mobfooterHours p{
    font-weight: 900;
    font-size: 5.14vw;
}
.footerHours h4{
    font-size: 1.55vw;
}
.mobfooterHours h4{
    font-size: 4.55vw;
}
.footerMap{
    margin-top: 2.4vw;
    height: 32.4vw;
    background-image: url(../../../public/images/googleMap.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.mobfooterMap{
    margin-top: 2.4vw;
    height: 32.4vw;
    padding: 40vw;
    background-image: url(../../../public/images/mobgoogleMap.png);
    background-size: cover;
    background-repeat: no-repeat;
}